.pageContainer {
	background-color: var(--white);
	width: min(100%, 600px);
	min-height: 800px;
	padding: 50px 40px;
	border: 1px solid var(--onyx);
	box-shadow: 5px 5px 10px var(--copper);
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.displayName {
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}

.displayEmail {
	font-style: italic;
	text-align: center;
}

.contactContainer {
	display: flex;
	margin-bottom: 6px;
	justify-content: space-between;
}

.addressContainer {
	padding: 0 40px;
}

.phoneContainer {
	padding-right: 80px;
	text-align: end;
}

.educationSection {
	margin-bottom: 8px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.educationContainer {
	padding-left: 40px;
}

.schoolContainer {
	display: flex;
	gap: 60px;
}

.schoolContainer p {
	flex: 1;
	text-align: end;
	padding-right: 40px;
}

.experienceSection {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.experienceContainer {
	padding-left: 40px;
}

.jobContainer {
	display: flex;
	gap: 60px;
}

.jobTitle {
	font-style: italic;
}

.columnContainer {
	display: flex;
	flex-direction: column;
}

.jobDates {
	flex: 1;
	text-align: end;
	padding-right: 40px;
}
