form {
	flex: 1;
	min-width: min(100%, 400px);
	max-width: 700px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 40px 10px;
}

.inputContainer {
	padding: 6px;
}

label {
	display: grid;
	grid-template-columns: 1fr;
	gap: 6px;
	color: var(--white);
}

input,
textarea {
	flex: 1 1 1;
	border-radius: 4px;
}

.personal,
.education,
.experience {
	background-color: var(--grape);
	padding: 10px 20px 30px;
	border-radius: 12px;
	box-shadow: 5px 5px 10px var(--copper);
	border-top: 2px solid var(--white);
	border-left: 2px solid var(--white);
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.personal {
	gap: 0;
}

section h2 {
	color: var(--white);
	border-bottom: 1px solid var(--white);
	margin-right: 80px;
}

.buttonContainer {
	align-self: center;
	display: flex;
	gap: 40px;
}

#addEduBtn,
#addExpBtn,
#removeEduBtn,
#removeExpBtn {
	background-color: var(--white);
	color: var(--onyx);
	box-shadow: 5px 5px 10px var(--onyx);
	padding: 8px;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	font-size: 20px;
	font-weight: 900;
}
